@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

button {
  -webkit-tap-highlight-color: transparent;
}

input::placeholder {
  color: #666;
}